body {
  background: linear-gradient(88deg, #1a1d24 0%, #36415D 40%, #353d61 93%, #3f4b70 100%);
  color:white;
	font-family: 'VT323', monospace;
	font-family: 'Kdam Thmor Pro';
	font-size: 20px;
}

.mainsection {
	margin-left:30%;
  margin-top: 3%;
}

#scoreboard {
	display: inline-block;
	width: 150px;
	height: 120;
	text-align:center;
	margin-top:-10px;

	background: rgba( 255, 255, 255, 0.15 );
	box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
	backdrop-filter: blur( 5px );
	-webkit-backdrop-filter: blur( 5px );
	border-radius: 10px;
	border: 1px solid rgba( 255, 255, 255, 0.18 );
}

#turn-display {
	width: 80px;
	height: 80px;
	margin-left:26%;
	margin-bottom: 10%;
}

.gridcontainer2 {
	position:relative;
	top:20px;
	left:50px;
}

p {
	margin-bottom:1%;
}

.grid {
 width:800px;
 height:800px;
 /*background: rgba(48, 48, 46, 0.25);*/
 display:flex;
 flex-wrap:wrap;
}

.grid2 {
	width:80px;
	height:60px;
	display:flex;
	flex-wrap:wrap;
}
.grid div {
  height:100px;
  width:100px;
  border:1px;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.8);
}

.gridcontainer {
	display:inline-block;
}

p {
	margin-top:5px;
}

#blockz {
	margin-left:42%;
	font-size:100px;
}

.colorOne {
  background: rgb(227, 231, 247);
}

.colorTwo {
  background: rgb(99, 95, 95);
}

.highLight {
	background: rgb(245, 223, 102);
} 

.active {
	background: rgb(60, 240, 60);
}